.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 26px 0 0;
}

.place__paragraph:first-child {
  margin-top: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin-right: 16px;
    margin-left: 16px;
  }
}
